<template>
  <div class="tab-pane">
    <h5 class="info-text">{{step.heading}}</h5>
    <div class="row">
      <div class="col-sm-5">
        <Date-Pick
          :hasInputElement="false"
          :value="selectedDate"
          @input="onDateChange"
          @periodChange="onPeriodChange"
        ></Date-Pick>
      </div>
      <div class="col-sm-7">
        <div class="list-group" :class="{error : hasErrors}">
          <div v-if="scheduleList.length == 0">No liturgy on this period</div>
          <a
            :id="'day' +  item.date.date()"
            class="list-group-item"
            v-for="(item, ndx) in scheduleList"
            :key="ndx"
            :class="{active: ndx == selectedIndex, disabled : item.countLeft == 0 }"
            @click="onItemSelected(item,ndx)"
          >
            <div class="row">
              <div class="col-sm-1 hidden-xs text-center bg-default">
                <div class="text-sm">{{item.date.format("MMM")}}</div>
                <div class="h3">{{item.date.format("D")}}</div>
              </div>
              <div class="col-sm-11 col-xs-12">
                <span
                  class="label pull-right"
                  :class="{'label-success' :item.countLeft > 5, 'label-danger' : item.countLeft <= 5}"
                >{{item.countLeft}} seats left</span>
                <h4 class="media-heading">{{item.location}}&nbsp;&nbsp;{{item.date.format("LT")}}</h4>
                <small
                  class="text-muted"
                >{{item.date.format("llll")}} - total seats {{item.count}} - booked seats {{item.count - item.countLeft}}</small>
              </div>
            </div>
          </a>
        </div>
        <div class="row" v-if="hasErrors">
          <small
            class="col-sm-12"
            style="color:#EB5E28"
          >Please Select the liturgy you want to attend.</small>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.list-group-item {
  margin: 10px 0;
  padding: 0 15px;
}
.h3 {
  margin: 5px -2px;
}
.col-sm-11 {
  padding-top: 5px;
}
.list-group-item.active {
  background-color: transparent;
  color: #000;
  border-color: #9a9a9a;
  border-width: 3px;
}
.list-group {
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.disabled {
  display: block;
}
.error {
  border-width: 3px;
  border-style: solid;
  color: #eb5e28;
  border-color: #eb5e28;
  border-radius: 4px;
  padding: 0 5px;
}
</style>
<script>
import moment from 'moment'
import { groupBy } from 'lodash'

export default {
  props: {
    step: Object
  },
  watch: {
    step(newVal, oldValue) {
      const schedules = groupBy(
        newVal.payload,
        itm => itm.date.month() + '' + itm.date.year()
      )
      this.schedules = schedules

      if (!oldValue.payload || oldValue.payload.length == 0) {
        this.selectedPeriod = {
          month: newVal.payload[0].date.month(),
          year: newVal.payload[0].date.year()
        }
      }
      this.scheduleList =
        schedules[this.selectedPeriod.month + '' + this.selectedPeriod.year] || []
    }
  },
  data() {
    const today = moment()
    return {
      selectedDate: today.format('YYYY-MM-DD'),
      schedules: {},
      scheduleList: [],
      selectedIndex: null,
      hasErrors: false,
      selectedPeriod: {
        month: today.month(),
        year: today.year()
      },
      model: {
        scheduleItem: null
      }
    }
  },
  methods: {
    onDateChange(newDate) {
      this.hasErrors = false
      this.selectedDate = newDate
      this.selectedIndex = null
      this.model.scheduleItem = null
      this.$scrollTo('#day' + moment(newDate, 'YYYY-MM-DD').date(), 300, {
        container: '.list-group'
      })
    },
    onItemSelected(item, ndx) {
      if (item.countLeft > 0) {
        this.hasErrors = false
        this.selectedIndex = ndx
        this.selectedDate = item.date.format('YYYY-MM-DD')
        this.model.scheduleItem = item
      }
    },
    onPeriodChange(period) {
      this.selectedPeriod = period
      this.scheduleList = this.schedules[period.month + '' + period.year] || []
    },
    validate() {
      this.hasErrors = this.model.scheduleItem ? false : true
      return !this.hasErrors
    }
  }
}
</script>