<template>
  <div class="wizard-navigation">
    <ProgressWithCircle :maxSteps="wizardSteps.length" :progress="progress" />
    <ul class="nav nav-pills">
      <li
        v-for="(step, ndx) in wizardSteps"
        :key="step.title"
        :class="{active: currentStep == ndx }"
        :style="{width : stepWidth + '%' }">
        <a data-toggle="tab">
          <div class="icon-circle" :class="{checked : step.checked}">
            <i :class="step.icon"></i>
          </div>
          {{step.title}}
        </a>
      </li>
    </ul>
  </div>
</template>
<script>
import ProgressWithCircle from '@/components/wizard/progress-with-circle'

export default {
  components: { ProgressWithCircle },
  props: {
    wizardSteps: Array,
    currentStep: Number
  },
  computed: {
    progress() {
      let total = this.wizardSteps.length
      let move_distance = 100 / total
      move_distance = move_distance * (this.currentStep == null ? 99 : this.currentStep) + move_distance / 2
      return move_distance > 100 ? 100 : move_distance
    },
    stepWidth() {
      let total = this.wizardSteps.length
      return 100 / total
    }
  }
}
</script>