<template>
  <div class="wizard-header text-center">
    <h3 class="wizard-title">{{title}}</h3>
    <p class="category">{{slug}}<nuxt-link to="cancel"> click here</nuxt-link>.
    </p>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    slug: String
  }
}
</script>